allowed_account_ids = [
  "489791930594"
]

github_specs = {
  token     = "{GIT_TOKEN}"
  clone_url = "https://{GIT_TOKEN}@github.com/AgnostiqHQ/covalent-webapp-api.git"
  branch    = "integration"
}

dispatches_conf = {
  db_name : "psi_integration"
  db_password : "xd2fxi3nhHL0TfvF"
  db_url : "psiog-integration.04tgx.mongodb.net/?uuidRepresentation=standard"
  db_username : "app-user"
  dispatch_organization_service_url : "/api/v1/dispatch-organization"
  dispatch_overview_service_url : "/api/v1/dispatch-overview"
  dispatch_service_url : "/api/v1/dispatches"
  domain_url : "https://3poe0u7b02.execute-api.us-east-1.amazonaws.com"
  resource_path : "api/v1/dispatches"
  stage : "/dev"
  stage_path : "/dev"
}

tags_conf = {
  db_name : ""
  db_password : ""
  db_url : ""
  db_username : ""
  dispatch_organization_service_url : ""
  dispatch_overview_service_url : ""
  dispatch_service_url : ""
  domain_url : ""
  resource_path : "tags"
  stage : "/dev"
  stage_path : "/dev"
}

