allowed_account_ids = ["489791930594"]
aws_region          = "ap-south-1"
dispatches_conf = {
  db_name                           = "psi_integration"
  db_password                       = "xd2fxi3nhHL0TfvF"
  db_url                            = "psiog-integration.04tgx.mongodb.net/?uuidRepresentation=standard"
  db_username                       = "app-user"
  dispatch_organization_service_url = "/api/v1/dispatch-organization"
  dispatch_overview_service_url     = "/api/v1/dispatch-overview"
  dispatch_service_url              = "/api/v1/dispatches"
  domain_url                        = "https://emzaj83150.execute-api.us-east-1.amazonaws.com"
  resource_path                     = "api/v1/dispatch-organization"
  stage                             = "/dev"
  stage_path                        = "/dev"
}
tags_conf = {
  db_name                           = "psi_integration"
  db_password                       = "xd2fxi3nhHL0TfvF"
  db_url                            = "psiog-integration.04tgx.mongodb.net/?uuidRepresentation=standard"
  db_username                       = "app-user"
  dispatch_organization_service_url = "/api/v1/dispatch-organization"
  dispatch_overview_service_url     = "/api/v1/dispatch-overview"
  dispatch_service_url              = "/api/v1/dispatches"
  domain_url                        = "https://emzaj83150.execute-api.us-east-1.amazonaws.com"
  resource_path                     = "api/v1/tags"
  stage                             = "/dev"
  stage_path                        = "/dev"
}
github_specs = {
  clone_url : "https://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@github.com/AgnostiqHQ/covalent-webapp-api.git",
  branch : "integration"
}
