allowed_account_ids = ["489791930594"]
aws_region          = "ap-south-1"
tags = {
  Offering    = "Covalent SAAS",
  Team        = "Psi",
  Environment = "int"
  Terraform   = true
}
github_specs = {
  access_token = "GIT_TOKEN",
  repository   = "https://github.com/mpvgithub/Amplify-Sample",
  clone_url    = "https://github.com/AgnostiqHQ/covalent-webapp-api.git",
  branch       = "integration"
}
lambda_sources = [
  {
    environment_conf = {
      db_name                           = "psi_integration"
      db_password                       = "xd2fxi3nhHL0TfvF"
      db_url                            = "psiog-integration.04tgx.mongodb.net/?uuidRepresentation=standard"
      db_username                       = "app-user"
      dispatch_organization_service_url = "/api/v1/dispatch-organization"
      dispatch_overview_service_url     = "/api/v1/dispatch-overview"
      dispatch_service_url              = "/api/v1/dispatches"
      resource_path                     = "api/v1/dispatches"
      stage_path                        = "/int"
    },
    function_name = "psiog-int-lambda-dispatches"
    memory        = "2024"
    folder_name  = "dispatches"
    service_name = "dispatches"
    timeout       = "6"
  },
  {
    environment_conf = {
      db_name                           = "psi_integration"
      db_password                       = "xd2fxi3nhHL0TfvF"
      db_url                            = "psiog-integration.04tgx.mongodb.net/?uuidRepresentation=standard"
      db_username                       = "app-user"
      dispatch_organization_service_url = "/api/v1/dispatch-organization"
      dispatch_overview_service_url     = "/api/v1/dispatch-overview"
      dispatch_service_url              = "/api/v1/dispatches"
      resource_path                     = "api/v1/tags"
      stage_path                        = "/int"
    },
    function_name = "psiog-int-lambda-tags"
    memory        = "1024"
    folder_name  = "tags"
    service_name = "tags"
    timeout       = "3"
  },
  {
    environment_conf = {
      db_name                           = "psi_integration"
      db_password                       = "xd2fxi3nhHL0TfvF"
      db_url                            = "psiog-integration.04tgx.mongodb.net/?uuidRepresentation=standard"
      db_username                       = "app-user"
      dispatch_organization_service_url = "/api/v1/dispatch-organization"
      dispatch_overview_service_url     = "/api/v1/dispatch-overview"
      dispatch_service_url              = "/api/v1/dispatches"
      resource_path                     = "api/v1/dispatch-organization"
      stage_path                        = "/int"
    },
    function_name = "psiog-int-lambda-dispatch-organization"
    memory        = "2024"
    folder_name  = "dispatch_organization"
    service_name = "dispatch-organization"
    timeout       = "6"
  },
  {
    environment_conf = {
      db_name                           = "psi_integration"
      db_password                       = "xd2fxi3nhHL0TfvF"
      db_url                            = "psiog-integration.04tgx.mongodb.net/?uuidRepresentation=standard"
      db_username                       = "app-user"
      dispatch_organization_service_url = "/api/v1/dispatch-organization"
      dispatch_overview_service_url     = "/api/v1/dispatch-overview"
      dispatch_service_url              = "/api/v1/dispatches"
      resource_path                     = "api/v1/dispatch-overview"
      stage_path                        = "/int"
    },
    function_name = "psiog-int-lambda-dispatch-overview"
    memory        = "2024"
    folder_name  = "dispatch_overview"
    service_name = "dispatch-overview"
    timeout       = "6"
  }
]
amplify_sources = [
  {
    name             = "client-amplify-covalent-saas"
    stage            = "PRODUCTION"
    framework        = "REACT"
    environment_name = "staging"
  },
  {
    name             = "admin-amplify-covalent-saas"
    stage            = "PRODUCTION"
    framework        = "REACT"
    environment_name = "staging"
  }
]
cognito_sources = [{
  attribute_schema = [{
    name           = "name"
    data_type      = "String"
    developer_only = false
    required       = true
    mutable        = false
    },
    {
      name           = "given_name"
      data_type      = "String"
      developer_only = false
      required       = true,
      mutable        = false
    },
    {
      name           = "family_name"
      data_type      = "String"
      developer_only = false
      required       = true,
      mutable        = false
    },
    {
      name           = "email"
      data_type      = "String"
      developer_only = false
      required       = true,
      mutable        = false
    },
    {
      name           = "organisation"
      data_type      = "String"
      developer_only = true
      required       = false
      mutable        = true
    },
    {
      name           = "promotion"
      data_type      = "String"
      developer_only = true
      required       = false
      mutable        = true
    }
  ],
  domain_name    = "terraform-general"
  client_name    = "Covalent-SAAS-Client"
  user_pool_name = "Covalent-SAAS-int-general"
  }, {
  attribute_schema = [{
    name           = "name"
    data_type      = "String"
    developer_only = false
    required       = true
    mutable        = false
    },
    {
      name           = "given_name"
      data_type      = "String"
      developer_only = false
      required       = true,
      mutable        = false
    },
    {
      name           = "family_name"
      data_type      = "String"
      developer_only = false
      required       = true,
      mutable        = false
    },
    {
      name           = "email"
      data_type      = "String"
      developer_only = false
      required       = true,
      mutable        = false
    },
    {
      name           = "organisation"
      data_type      = "String"
      developer_only = true
      required       = false
      mutable        = true
    },
    {
      name           = "promotion"
      data_type      = "String"
      developer_only = true
      required       = false
      mutable        = true
    }
  ],
  domain_name    = "terraform-admin"
  client_name    = "Covalent-SAAS-Client"
  user_pool_name = "Covalent-SAAS-int-Admin"
}]
dynamodb_name  = "Activity-Tracker"
billing_mode   = "PAY_PER_REQUEST"
read_capacity  = 1
write_capacity = 1
hash_key       = "owner_id"
range_key      = "_id"

endpoint_name = "psiog-int-api"
endpoint_type = ["REGIONAL"]
